Repository polco/swift-client: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -t stylish, stylelint

added style linter and pre commit linters (#8)
  .lintstagedrc
  .stylelintrc
  package.json
  yarn.lock
Due: none

updated dependencies
  package.json
  yarn.lock
Due: none

updated dependencies (#9)
  package.json
  yarn.lock
Due: none

Cleaned up CRDT use
  external.d.ts
  src/shared/RTCClient.ts
  src/shared/Store.ts
  src/shared/actions/Action.ts
  src/shared/actions/CreateDoc.ts
  src/shared/actions/CreateSession.ts
  src/shared/actions/CreateUser.ts
  src/shared/models/Doc.ts
  src/shared/models/Session.ts
  src/shared/models/User.ts
  src/shared/models/docClass.ts
  src/shared/views/CreateSession.tsx
  tsconfig.json
Due: tslint -t stylish

Cleaned up CRDT use (#10)
  external.d.ts
  src/shared/RTCClient.ts
  src/shared/Store.ts
  src/shared/actions/Action.ts
  src/shared/actions/CreateDoc.ts
  src/shared/actions/CreateSession.ts
  src/shared/actions/CreateUser.ts
  src/shared/models/Doc.ts
  src/shared/models/Session.ts
  src/shared/models/User.ts
  src/shared/models/docClass.ts
  src/shared/views/CreateSession.tsx
  tsconfig.json
Due: tslint -t stylish

first implementation of text items
  external.d.ts
  src/shared/Store.ts
  src/shared/actions/Action.ts
  src/shared/actions/AddItem.ts
  src/shared/actions/CreateDoc.ts
  src/shared/actions/CreateSession.ts
  src/shared/actions/RemoveItem.ts
  src/shared/components/SessionItem.tsx
  src/shared/models/Doc.ts
  src/shared/models/Item.ts
  src/shared/models/Session.ts
  src/shared/models/User.ts
  src/shared/models/docClass.ts
Due: tslint -t stylish

first implementation of text items (#11)
  external.d.ts
  src/shared/Store.ts
  src/shared/actions/Action.ts
  src/shared/actions/AddItem.ts
  src/shared/actions/CreateDoc.ts
  src/shared/actions/CreateSession.ts
  src/shared/actions/RemoveItem.ts
  src/shared/components/SessionItem.tsx
  src/shared/models/Doc.ts
  src/shared/models/Item.ts
  src/shared/models/Session.ts
  src/shared/models/User.ts
  src/shared/models/docClass.ts
Due: tslint -t stylish

Create an abstraction to bind a CRDT sequence to mobx array
  src/shared/Store.ts
  src/shared/actions/Action.ts
  src/shared/actions/AddItem.ts
  src/shared/actions/CreateDoc.ts
  src/shared/actions/CreateSession.ts
  src/shared/actions/UpdateDoc.ts
  src/shared/models/Doc.ts
  src/shared/models/Session.ts
  src/shared/models/createSeq.ts
Due: tslint -t stylish

Create an abstraction to bind a CRDT sequence to mobx array (#12)
  src/shared/Store.ts
  src/shared/actions/Action.ts
  src/shared/actions/AddItem.ts
  src/shared/actions/CreateDoc.ts
  src/shared/actions/CreateSession.ts
  src/shared/actions/UpdateDoc.ts
  src/shared/models/Doc.ts
  src/shared/models/Session.ts
  src/shared/models/createSeq.ts
Due: tslint -t stylish

changed the userIds props as a Seq.
  src/desktop/views/Main.tsx
  src/mobile/views/Main.less
  src/mobile/views/Main.tsx
  src/shared/Store.ts
  src/shared/actions/Action.ts
  src/shared/actions/AddSessionUser.ts
  src/shared/actions/CreateDoc.ts
  src/shared/actions/CreateSession.ts
  src/shared/models/Session.ts
  src/shared/models/createSeq.ts
  src/shared/views/CreateSession.tsx
  src/shared/views/JoinSession.less
  src/shared/views/JoinSession.tsx
  src/shared/views/Sessions.tsx
Due: tslint -t stylish, stylelint

changed the userIds props as a Seq. (#13)
  src/desktop/views/Main.tsx
  src/mobile/views/Main.less
  src/mobile/views/Main.tsx
  src/shared/Store.ts
  src/shared/actions/Action.ts
  src/shared/actions/AddSessionUser.ts
  src/shared/actions/CreateDoc.ts
  src/shared/actions/CreateSession.ts
  src/shared/models/Session.ts
  src/shared/models/createSeq.ts
  src/shared/views/CreateSession.tsx
  src/shared/views/JoinSession.less
  src/shared/views/JoinSession.tsx
  src/shared/views/Sessions.tsx
Due: tslint -t stylish, stylelint

build based on commit 42e7480b43c3844f9134392a9bc182944ca2718d
  desktop-app.19419e05a83088edf9c6.css
  desktop-app.19419e05a83088edf9c6.css.map
  desktop-app.19419e05a83088edf9c6.js
  desktop-app.19419e05a83088edf9c6.js.map
  desktop-app.dba1454fa7fe1fdfb2b5.css
  desktop-app.dba1454fa7fe1fdfb2b5.css.map
  desktop-app.dba1454fa7fe1fdfb2b5.js
  desktop-app.dba1454fa7fe1fdfb2b5.js.map
  desktop-bootstrap.3d9f6b467b28884bdb74.js.map
  index.html
  mobile-app.524ae90ceb114e21c42d.css
  mobile-app.524ae90ceb114e21c42d.css.map
  mobile-app.524ae90ceb114e21c42d.js
  mobile-app.524ae90ceb114e21c42d.js.map
  mobile-app.803c59d798945ba8a0da.css
  mobile-app.803c59d798945ba8a0da.css.map
  mobile-app.803c59d798945ba8a0da.js
  mobile-app.803c59d798945ba8a0da.js.map
  mobile-bootstrap.9a1d602a9f814e00eb92.js.map
Due: none

uncoupled the userId from the signaling socket
  src/shared/GatewayClient.ts
  src/shared/RTCClient.ts
  src/shared/Store.ts
  src/shared/components/SessionItem.tsx
  src/shared/views/CreateSession.tsx
Due: tslint -t stylish

uncoupled the userId from the signaling socket (#14)
  src/shared/GatewayClient.ts
  src/shared/RTCClient.ts
  src/shared/Store.ts
  src/shared/components/SessionItem.tsx
  src/shared/views/CreateSession.tsx
Due: tslint -t stylish

build based on commit 1ddeedeeb716dd60592171a05f810c22d1cd0e4d
  desktop-app.dba1454fa7fe1fdfb2b5.css.map
  desktop-app.dba1454fa7fe1fdfb2b5.js
  desktop-app.dba1454fa7fe1fdfb2b5.js.map
  desktop-app.e33b5fefc6a68f73bdc9.css
  desktop-app.e33b5fefc6a68f73bdc9.css.map
  desktop-app.e33b5fefc6a68f73bdc9.js
  desktop-app.e33b5fefc6a68f73bdc9.js.map
  desktop-bootstrap.3d9f6b467b28884bdb74.js.map
  index.html
  mobile-app.524ae90ceb114e21c42d.css.map
  mobile-app.524ae90ceb114e21c42d.js
  mobile-app.524ae90ceb114e21c42d.js.map
  mobile-app.cccd84395c8373cf15bf.css
  mobile-app.cccd84395c8373cf15bf.css.map
  mobile-app.cccd84395c8373cf15bf.js
  mobile-app.cccd84395c8373cf15bf.js.map
  mobile-bootstrap.9a1d602a9f814e00eb92.js.map
Due: none

Moved the session content into its own view
  src/desktop/views/Main.less
  src/desktop/views/Main.tsx
  src/mobile/views/Main.tsx
  src/shared/Store.ts
  src/shared/actions/UpdateUserName.ts
  src/shared/components/SessionItem.tsx
  src/shared/components/Tabs.less
  src/shared/components/Tabs.tsx
  src/shared/views/CreateSession.tsx
  src/shared/views/JoinSession.tsx
  src/shared/views/SessionViewer.less
  src/shared/views/SessionViewer.tsx
  src/shared/views/Sessions.tsx
  src/shared/views/tabs.tsx
Due: tslint -t stylish, stylelint

Moved the session content into its own view (#15)
  src/desktop/views/Main.less
  src/desktop/views/Main.tsx
  src/mobile/views/Main.tsx
  src/shared/Store.ts
  src/shared/actions/UpdateUserName.ts
  src/shared/components/SessionItem.tsx
  src/shared/components/Tabs.less
  src/shared/components/Tabs.tsx
  src/shared/views/CreateSession.tsx
  src/shared/views/JoinSession.tsx
  src/shared/views/SessionViewer.less
  src/shared/views/SessionViewer.tsx
  src/shared/views/Sessions.tsx
  src/shared/views/tabs.tsx
Due: tslint -t stylish, stylelint

build based on commit e677cfd7f347807d797821ea3c2c6ff41680a83c
  desktop-app.85f82b07e9683709290f.css
  desktop-app.85f82b07e9683709290f.css.map
  desktop-app.85f82b07e9683709290f.js
  desktop-app.85f82b07e9683709290f.js.map
  desktop-app.e33b5fefc6a68f73bdc9.css
  desktop-app.e33b5fefc6a68f73bdc9.css.map
  desktop-app.e33b5fefc6a68f73bdc9.js
  desktop-app.e33b5fefc6a68f73bdc9.js.map
  desktop-bootstrap.3d9f6b467b28884bdb74.js.map
  index.html
  mobile-app.cccd84395c8373cf15bf.css
  mobile-app.cccd84395c8373cf15bf.css.map
  mobile-app.cccd84395c8373cf15bf.js
  mobile-app.cccd84395c8373cf15bf.js.map
  mobile-app.ff01bfef1a7d6f7531af.css
  mobile-app.ff01bfef1a7d6f7531af.css.map
  mobile-app.ff01bfef1a7d6f7531af.js
  mobile-app.ff01bfef1a7d6f7531af.js.map
  mobile-bootstrap.9a1d602a9f814e00eb92.js.map
Due: none

User name text field and SessionItem style
  package.json
  src/desktop/views/Main.tsx
  src/mobile/views/Main.tsx
  src/shared/Store.ts
  src/shared/actions/UpdateUserName.ts
  src/shared/components/SessionItem.less
  src/shared/components/SessionItem.tsx
  src/shared/components/TextField.tsx
  src/shared/views/CreateSession.tsx
  src/shared/views/JoinSession.tsx
  src/shared/views/SessionViewer.tsx
  src/shared/views/Sessions.less
  src/shared/views/Sessions.tsx
  yarn.lock
Due: tslint -t stylish, stylelint

User name text field and SessionItem style (#16)
  package.json
  src/desktop/views/Main.tsx
  src/mobile/views/Main.tsx
  src/shared/Store.ts
  src/shared/actions/UpdateUserName.ts
  src/shared/components/SessionItem.less
  src/shared/components/SessionItem.tsx
  src/shared/components/TextField.tsx
  src/shared/views/CreateSession.tsx
  src/shared/views/JoinSession.tsx
  src/shared/views/SessionViewer.tsx
  src/shared/views/Sessions.less
  src/shared/views/Sessions.tsx
  yarn.lock
Due: tslint -t stylish, stylelint

Separated mobile and desktop design
  src/desktop/components/Sidebar.less
  src/desktop/components/Sidebar.tsx
  src/desktop/views/Main.less
  src/desktop/views/Main.tsx
  src/desktop/views/tabs.tsx
  src/mobile/views/Main.tsx
  src/mobile/views/tabs.tsx
  src/shared/components/Tabs.less
  src/shared/components/Tabs.tsx
  src/shared/components/TextField.tsx
  src/shared/views/Sessions.tsx
  src/shared/views/tabs.ts
Due: tslint -t stylish, stylelint

Separated mobile and desktop design (#17)
  src/desktop/components/Sidebar.less
  src/desktop/components/Sidebar.tsx
  src/desktop/views/Main.less
  src/desktop/views/Main.tsx
  src/desktop/views/tabs.tsx
  src/mobile/views/Main.tsx
  src/mobile/views/tabs.tsx
  src/shared/components/Tabs.less
  src/shared/components/Tabs.tsx
  src/shared/components/TextField.tsx
  src/shared/views/Sessions.tsx
  src/shared/views/tabs.ts
Due: tslint -t stylish, stylelint

Designed the desktop session chat viewer
  src/desktop/views/Main.less
  src/desktop/views/Main.tsx
  src/desktop/views/SessionViewer.less
  src/desktop/views/SessionViewer.tsx
Due: tslint -t stylish, stylelint

Designed the desktop session chat viewer (#18)
  src/desktop/views/Main.less
  src/desktop/views/Main.tsx
  src/desktop/views/SessionViewer.less
  src/desktop/views/SessionViewer.tsx
Due: tslint -t stylish, stylelint

Designed a session info component
  src/desktop/views/Main.tsx
  src/mobile/views/Main.less
  src/mobile/views/Main.tsx
  src/shared/components/SelectableText.less
  src/shared/components/SelectableText.tsx
  src/shared/components/SessionDisplay.less
  src/shared/components/SessionDisplay.tsx
  src/shared/components/SessionInfo.less
  src/shared/components/SessionInfo.tsx
  src/shared/components/SessionItem.less
  src/shared/components/SessionItem.tsx
  src/shared/styles/core.less
  src/shared/views/CreateSession.tsx
  src/shared/views/SessionViewer.less
  src/shared/views/SessionViewer.tsx
  src/shared/views/tabs.ts
Due: tslint -t stylish, stylelint

Designed a session info component (#19)
  src/desktop/views/Main.tsx
  src/mobile/views/Main.less
  src/mobile/views/Main.tsx
  src/shared/components/SelectableText.less
  src/shared/components/SelectableText.tsx
  src/shared/components/SessionDisplay.less
  src/shared/components/SessionDisplay.tsx
  src/shared/components/SessionInfo.less
  src/shared/components/SessionInfo.tsx
  src/shared/components/SessionItem.less
  src/shared/components/SessionItem.tsx
  src/shared/styles/core.less
  src/shared/views/CreateSession.tsx
  src/shared/views/SessionViewer.less
  src/shared/views/SessionViewer.tsx
  src/shared/views/tabs.ts
Due: tslint -t stylish, stylelint

build based on commit 044ce1339500aef9ce97d1fcf31cf807abd927e3
  desktop-app.045ad32901766877528b.css
  desktop-app.045ad32901766877528b.css.map
  desktop-app.045ad32901766877528b.js
  desktop-app.045ad32901766877528b.js.map
  desktop-app.eb8580e319d4e25755a2.css
  desktop-app.eb8580e319d4e25755a2.css.map
  desktop-app.eb8580e319d4e25755a2.js
  desktop-app.eb8580e319d4e25755a2.js.map
  desktop-bootstrap.3d9f6b467b28884bdb74.js.map
  index.html
  mobile-app.49e99515c7b32e3eab50.css
  mobile-app.49e99515c7b32e3eab50.css.map
  mobile-app.49e99515c7b32e3eab50.js
  mobile-app.49e99515c7b32e3eab50.js.map
  mobile-app.f0bdec42b19bc5a1a18d.css
  mobile-app.f0bdec42b19bc5a1a18d.css.map
  mobile-app.f0bdec42b19bc5a1a18d.js
  mobile-app.f0bdec42b19bc5a1a18d.js.map
  mobile-bootstrap.9a1d602a9f814e00eb92.js.map
Due: none

Fixed user-select, auto focus and JSON.parse
  src/index.css
  src/mobile/views/Main.tsx
  src/shared/RTCClient.ts
  src/shared/components/SelectableText.less
  src/shared/components/SessionDisplay.less
  src/shared/components/SessionDisplay.tsx
  src/shared/components/SessionInfo.tsx
  src/shared/components/TextField.tsx
  src/shared/views/CreateSession.tsx
Due: tslint -t stylish, stylelint

Fixed user-select, auto focus and JSON.parse (#20)
  src/index.css
  src/mobile/views/Main.tsx
  src/shared/RTCClient.ts
  src/shared/components/SelectableText.less
  src/shared/components/SessionDisplay.less
  src/shared/components/SessionDisplay.tsx
  src/shared/components/SessionInfo.tsx
  src/shared/components/TextField.tsx
  src/shared/views/CreateSession.tsx
Due: tslint -t stylish, stylelint

Added the active user in the session display header
  src/shared/views/SessionViewer.less
  src/shared/views/SessionViewer.tsx
Due: tslint -t stylish, stylelint

Added the active user in the session display header (#21)
  src/shared/views/SessionViewer.less
  src/shared/views/SessionViewer.tsx
Due: tslint -t stylish, stylelint

build based on commit 26bbc786cf4be0f685ca5b6d7e3851580a6bbf1f
  desktop-app.2e6910cf8611d8ed46f8.css
  desktop-app.2e6910cf8611d8ed46f8.css.map
  desktop-app.2e6910cf8611d8ed46f8.js
  desktop-app.2e6910cf8611d8ed46f8.js.map
  desktop-app.eb8580e319d4e25755a2.css
  desktop-app.eb8580e319d4e25755a2.css.map
  desktop-app.eb8580e319d4e25755a2.js
  desktop-app.eb8580e319d4e25755a2.js.map
  desktop-bootstrap.3d9f6b467b28884bdb74.js.map
  index.css
  index.html
  mobile-app.677434147b488fe255ab.css
  mobile-app.677434147b488fe255ab.css.map
  mobile-app.677434147b488fe255ab.js
  mobile-app.677434147b488fe255ab.js.map
  mobile-app.f0bdec42b19bc5a1a18d.css
  mobile-app.f0bdec42b19bc5a1a18d.css.map
  mobile-app.f0bdec42b19bc5a1a18d.js
  mobile-app.f0bdec42b19bc5a1a18d.js.map
  mobile-bootstrap.9a1d602a9f814e00eb92.js.map
Due: none

fixed scroller
  src/shared/components/SessionDisplay.less
  src/shared/components/SessionDisplay.tsx
  src/shared/views/CreateSession.tsx
Due: tslint -t stylish, stylelint

fixed scroller (#22)
  src/shared/components/SessionDisplay.less
  src/shared/components/SessionDisplay.tsx
  src/shared/views/CreateSession.tsx
Due: tslint -t stylish, stylelint

build based on commit 94c556d9941933a66f97f56cc0f2bec8467fb448
  desktop-app.05a5a82991573ed92c7f.css
  desktop-app.05a5a82991573ed92c7f.css.map
  desktop-app.05a5a82991573ed92c7f.js
  desktop-app.05a5a82991573ed92c7f.js.map
  desktop-app.2e6910cf8611d8ed46f8.css
  desktop-app.2e6910cf8611d8ed46f8.css.map
  desktop-app.2e6910cf8611d8ed46f8.js
  desktop-app.2e6910cf8611d8ed46f8.js.map
  desktop-bootstrap.3d9f6b467b28884bdb74.js.map
  index.html
  mobile-app.0ee02ff8ddd201c1c869.css
  mobile-app.0ee02ff8ddd201c1c869.css.map
  mobile-app.0ee02ff8ddd201c1c869.js
  mobile-app.0ee02ff8ddd201c1c869.js.map
  mobile-app.677434147b488fe255ab.css
  mobile-app.677434147b488fe255ab.css.map
  mobile-app.677434147b488fe255ab.js
  mobile-app.677434147b488fe255ab.js.map
  mobile-bootstrap.9a1d602a9f814e00eb92.js.map
Due: none

Added a flag to know if a client is connected
  external.d.ts
  src/shared/GatewayClient.ts
  src/shared/RTCClient.ts
  src/shared/Store.ts
  src/shared/actions/Action.ts
  src/shared/actions/SetUserConnected.ts
  src/shared/actions/UpdateDoc.ts
  src/shared/models/Session.ts
  src/shared/models/User.ts
  src/shared/models/createSeq.ts
  src/shared/views/SessionViewer.tsx
Due: tslint -t stylish

Added a flag to know if a client is connected (#23)
  external.d.ts
  src/shared/GatewayClient.ts
  src/shared/RTCClient.ts
  src/shared/Store.ts
  src/shared/actions/Action.ts
  src/shared/actions/SetUserConnected.ts
  src/shared/actions/UpdateDoc.ts
  src/shared/models/Session.ts
  src/shared/models/User.ts
  src/shared/models/createSeq.ts
  src/shared/views/SessionViewer.tsx
Due: tslint -t stylish

build based on commit 11ae57646b82f39f2f5a21b47ee4372c13c3885e
  desktop-app.05a5a82991573ed92c7f.css.map
  desktop-app.05a5a82991573ed92c7f.js
  desktop-app.05a5a82991573ed92c7f.js.map
  desktop-app.37e2cb939c8d643114a1.css
  desktop-app.37e2cb939c8d643114a1.css.map
  desktop-app.37e2cb939c8d643114a1.js
  desktop-app.37e2cb939c8d643114a1.js.map
  desktop-bootstrap.3d9f6b467b28884bdb74.js.map
  index.html
  mobile-app.0ee02ff8ddd201c1c869.css.map
  mobile-app.0ee02ff8ddd201c1c869.js
  mobile-app.0ee02ff8ddd201c1c869.js.map
  mobile-app.6a9dd5fba354b2a0e543.css
  mobile-app.6a9dd5fba354b2a0e543.css.map
  mobile-app.6a9dd5fba354b2a0e543.js
  mobile-app.6a9dd5fba354b2a0e543.js.map
  mobile-bootstrap.9a1d602a9f814e00eb92.js.map
Due: none

Path conditions:
  tslint -t stylish: any of: *.{ts,tsx}
  stylelint: any of: *.less
